@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
}

:root {
  --sidebar_border: rgb(237, 237, 237);
  --sidebar_color: rgb(112, 112, 112);
  --sidebar_active: rgb(238, 242, 253);
  --sidebar_hover: rgb(248, 249, 250);
  --sidebar_background_color: rgb(251, 251, 251);
  --sidebar_logo_color: rgb(43, 43, 43);
  --sidebar_border: rgb(110, 111, 118);
  --sidebar_color: rgb(217, 217, 217);
  --sidebar_active: rgb(8, 50, 69);
  --sidebar_hover: rgb(6, 44, 62);
  --sidebar_background_color: rgb(3, 39, 56);
  --sidebar_logo_color: white;
  --sidebar_icon_background: rgb(54, 63, 69);
  --background_color: #f9f9f9;
  --container_color: #ffffff;
  --border: rgb(237, 237, 237);
  --color: rgb(53, 53, 53);
  --lighter_color: gray;
  --topbar_background_color:white;
}

[data-theme=dark] {
  --sidebar_border: rgb(55, 59, 65);
  --sidebar_color: rgb(213, 213, 213);
  --background_color: rgb(23, 24, 27);
  --container_color: rgb(33, 35, 39);
  --sidebar_hover: rgb(35, 36, 45);
  --sidebar_active: rgb(40, 43, 73);
  --sidebar_background_color: rgb(27, 28, 32);
  --border: rgb(55, 59, 65);
  --color: rgb(230, 230, 230);
  --lighter_color: rgb(206, 206, 206);
  --topbar_background_color:rgb(23, 24, 27);
}

body {
  background-color: var(--container_color);
}

.admin_container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--background_color);
  color: var(--color);
}
.admin_container .admin_sidebar {
  background-color: var(--sidebar_background_color);
  height: 100vh;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  border-right: 1px solid var(--sidebar_border);
  width: 70px;
  position: sticky;
  top: 0;
}
.admin_container .admin_sidebar .logo {
  font-weight: 800;
  padding: 5.9px 10px;
  color: rgb(100, 177, 205);
  margin-bottom: 5px;
}
.admin_container .admin_sidebar menu {
  margin-bottom: 10px;
}
.admin_container .admin_sidebar menu:nth-child(2) {
  border-top: 1px solid var(--sidebar_border);
}
.admin_container .admin_sidebar li h3 {
  color: var(--sidebar_color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.admin_container .admin_sidebar li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 16px;
  color: var(--sidebar_color);
  padding: 5px 10px;
  font-weight: 600;
  position: relative;
}
.admin_container .admin_sidebar li a svg {
  font-size: 18.7px;
}
.admin_container .admin_sidebar li a svg:not(.mantine-Accordion-item svg) {
  color: var(--sidebar_color);
}
.admin_container .admin_sidebar li a.active:not(.inactive) {
  background-color: var(--sidebar_active) !important;
  color: rgb(100, 177, 205);
}
.admin_container .admin_sidebar li a.active:not(.inactive)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: rgb(100, 177, 205);
}
.admin_container .admin_sidebar li a sup {
  position: absolute;
  background-color: royalblue;
  color: var(--container_color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 800;
  width: 13px;
  max-width: 13px;
  min-width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translateY(-7px) translateX(7px);
}
.admin_container .admin_sidebar li a:hover {
  background-color: var(--sidebar_hover);
}
.admin_container .admin_sidebar li .mantine-Accordion-item {
  border-color: var(--sidebar_border);
}
.admin_container .admin_sidebar li .mantine-Accordion-control:hover {
  background-color: var(--sidebar_hover);
}
.admin_container .admin_sidebar li .mantine-Accordion-content {
  padding-left: 0;
  padding-right: 0;
}
.admin_container .top_nav {
  background-color: var(--background_color);
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 30px;
  position: sticky;
  top: 0;
  z-index: 5;
}
.admin_container .top_nav h3 {
  font-weight: 800;
  font-size: 25px;
}
.admin_container .top_nav h3 span {
  font-family: "Noto Color Emoji", sans-serif;
  font-size: 22px;
  display: none;
}
.admin_container .sub_page_header {
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.admin_container .home_container {
  padding: 20px 30px;
}
.admin_container .home_container .welcome_container {
  margin-bottom: 20px;
  box-shadow: 0px 4px 14px rgba(0, 36, 118, 0.05);
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.admin_container .home_container .overview_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}
.admin_container .home_container .overview_container .card {
  background-color: var(--container_color);
  height: -moz-max-content;
  height: max-content;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 36, 118, 0.05);
}
.admin_container .home_container .overview_container .card .card_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.admin_container .home_container .overview_container .card .card_title h4 {
  color: var(--lighter_color);
  font-weight: 400;
  font-size: 14px;
}
.admin_container .home_container .overview_container .card h2 {
  font-size: 27px;
  font-weight: 800;
  color: var(--color);
}
.admin_container .order_container {
  padding: 20px;
}
.admin_container .add_product {
  background-color: var(--container_color);
  padding: 20px;
  min-height: 100vh;
}
.admin_container .order_content {
  margin-bottom: 20px;
}
.admin_container .order_content h3 {
  margin-bottom: 8px;
  font-size: 16px;
  color: rgb(113, 113, 113);
}
.admin_container .order_content .table_container {
  padding: 20px;
  background-color: var(--container_color);
  box-shadow: 0px 4px 14px rgba(0, 36, 118, 0.05);
  border-radius: 5px;
}
.admin_container .order_content .table_container table th {
  text-transform: uppercase;
  font-size: 12px;
  color: gray;
}
.admin_container .order_content .table_container.order_table {
  max-width: 500px;
  margin: 0px auto;
}
.admin_container .blog_container {
  width: 100%;
  padding: 20px 30px;
}
.admin_container .blog_container .blog_content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.admin_container .blog_container .blog_content .card {
  position: relative;
  background-color: var(--container_color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px rgba(0, 36, 118, 0.05);
}
.admin_container .blog_container .blog_content .card img {
  border-radius: 8px;
  width: 100%;
  min-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.admin_container .blog_container .blog_content .card h2 {
  font-weight: 800;
  font-size: 17px;
  margin: 3px 0;
}
.admin_container .blog_container .blog_content .card p {
  font-size: 15px;
}
.admin_container .blog_container .blog_content .card p span {
  color: royalblue;
  font-weight: 700;
  cursor: pointer;
}
.admin_container .more_icon_container {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.admin_container .more_icon_container button {
  background-color: var(--container_color);
}
.admin_container .faq_container {
  width: 100%;
  padding: 20px 30px;
}
.admin_container .faq_container .faq_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.admin_container .faq_container .faq_content .card {
  position: relative;
  background-color: var(--container_color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 14px rgba(0, 36, 118, 0.05);
}
.admin_container .faq_container .faq_content .card h2 {
  font-weight: 800;
  font-size: 17px;
  margin: 3px 0;
}

.homepage_nav {
  padding: 0px 30px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.discount_sales {
  padding: 0px 5%;
  margin-top: 70px;
}
.discount_sales .discount_container {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 0px 0px 50px 0px;
  font-size: 12px;
}
.discount_sales .product_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 30px;
}
.discount_sales .product_container .card {
  position: relative;
}
.discount_sales .product_container .card img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category_content {
  margin-top: 30px;
}
.category_content .category_item {
  text-align: center;
}
.category_content .category_item:nth-child(1) {
  padding-left: 50%;
}
.category_content .category_item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category_sales {
  padding: 30px 5%;
  margin-top: 70px;
  background-color: ghostwhite;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.category_sales.category_sales2 {
  background-color: rgb(255, 253, 251);
  background-color: white;
}
.category_sales .heading_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category_sales .heading_card h2 {
  font-size: 40px;
}
.category_sales .heading_card p {
  font-size: 18px;
  margin: 10px 0;
}
.category_sales .card img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category_sales .card .prize_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.category_sales .card .prize_details .discount {
  font-size: 13px;
}
.category_sales .card .prize_details span {
  color: gray;
  text-decoration: line-through;
}

.popular_category {
  padding: 30px 0;
  margin-top: 70px;
}
.popular_category h2 {
  padding: 0 5%;
}

.hero_carousel_content {
  position: relative;
  height: 100%;
  max-width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.hero_carousel_content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_carousel_content .details_content {
  position: relative;
  z-index: 2;
  padding: 10px;
  background-color: rgba(87, 87, 87, 0.15);
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.hero_carousel_content .details_content h2 {
  z-index: 2;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.item_container {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 0px 5%;
  margin-top: 30px;
}
.item_container img {
  width: 450px;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.item_container h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.item_container h2 {
  font-size: 40px;
  color: rgb(37, 166, 121);
}
.item_container h2 span {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
}
.item_container p {
  font-size: 20px;
  margin: 20px 0;
  color: rgb(89, 88, 88);
  line-height: 1.6;
}

footer {
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 100px;
}

.auth_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.auth_container .auth_nav {
  width: 100%;
  padding: 30px;
  text-align: center;
}

.auth_content {
  width: 400px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
}
.auth_content .forgot_password_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  transform: translateY(-10px);
  font-size: 13px;
  color: rgb(0, 192, 109);
}
.auth_content h1 {
  margin-bottom: 30px;
  font-size: 25px;
}
.auth_content label {
  margin-bottom: 5px;
}
.auth_content h3 {
  margin-bottom: 20px;
}

.more {
  margin-top: 20px;
}
.more a {
  color: rgb(0, 192, 109);
}